<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.topstrejiok.changemanager">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:itemName=".activity.SessionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:itemName=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:itemName="android.intent.action.MAIN" />

                <category android:itemName="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>